/**********************************
General Styling
***********************************/

body {
font-family: sans-serif;
}

hr {
  width: 1px;
  height: 75%;
  float: left;
}
.clearfix {
  clear: both;
}

/***********************************
Header
***********************************/

#MyLogo {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  float: left;
  width 100%;
  margin: 35px;
  padding: 15px 20px 5px 15px;
  color: #000;
  background-color: grey;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/*..Navigation..*/
header {
  float: left;
  width: 100%;
  color: #fff;
  background: #000;
}

nav ul {
  list-style: none;
  width: 75%;
  margin: 20px;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  float: left;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  text-align: center;
  padding: 30px 15px 30px 20px;
}


/*Welcome Message*/
.welcomemessage {
  padding-left: 20px;
}

.signature {
    font-style: italic;
}

/*..homepage gallery thumbnail images*/
#thumbnail-container {
float: left;
background-color: #fff;
width: 100%;
height: 400px;
padding: 0 0 100px 0;
}

.thumbnails {
display: inline-block;
float: left;
list-style: none;
text-decoration: none;
width: 100%;
}

.thumbnails li {
float: left;
width: 30%;
padding: 4px 4px 4px 4px;
background-color: #fff;
text-align: center;
margin: 5px 5px 5px 5px;
}

.thumbnails li a img {
width: 100%;
background-color: grey;
border
}

/***************************
Portfolio Page
****************************/

.portfolio {
  background-color: #fff;
}
.portfolio img {
  padding: 10px 10px 10px 10px;
  background-color: #cbced3;
  width: 60%;
}
.boldheading {
  font-weight: bold;
}

/***************************
Footer
****************************/

footer {
  float: left;
  padding: 20px 5px 5px 10px;
  width: 100%;
  background-color: #eae6e1;
  margin-top: 30px;
}

footer a img {
width: 05%;

}


@media all and (min-width: 320px){
  header {
    width: 100%;
    margin-bottom: 30px;
    }
#MyLogo {
    display: inline-block;
    float: left;
  }
nav ul li a {
    display: inline-block;
    float: left;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 35px 10px 35px;
  }
.copy p {
    display: inline-block;
    float: left;
    width: 95%;
    color: #000;
    padding: 0 5px 0px 5px;
    text-align: left;
    margin: 0 10px 0 10px;
    }
.copy h3 {
  padding-left: 15px;
  width: 100%;
}
.thumbnails ul {
  margin: 0;
  padding: 0;
  width: 95%;
}
.thumbnails ul li {
  display: inline-block;
  float: left;
  padding: 5px;
  width: 100%;
  }
.thumbnails ul li img {
  width: 95%;
  padding: 10px;
  border: 10px;
  background-color: #cbced3;
}
.thumbnails ul li p {
  text-align: center;
}
footer {
  width: 100%;
}
.portfolio img {
  width: 95%;
}

}

@media all and (min-width: 550px) {
  header {
    width: 100%;
    }
    nav {
      width: 100%;
    }
  nav ul {
    float: left;
    width: 100%;
    }
  nav ul li a {
    display: inline-block;
    float: left;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 35px 10px 35px;
    }
  .thumbnails ul li {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    float: left;
    width: 45%;
  }
    .copy {
      width: 90%;
    }
    .copy p {
      width: 100%;
      padding-right: 20px;
      margin-right: 20px;
    }
    footer {
      width: 100%;
    }
}

@media all and (min-width: 768px) {
  nav ul {
    display: inline-block;
    float: left;
    list-style: none;
    width: 65%;
    margin: 20px 5px 10px 5px;
    padding: 10px;
    background-color: black;
    }
  nav ul li a {
    display: inline-block;
    float: left;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 35px 10px 35px;
    }
    .thumbnails ul li {
      width: 29%;
    }
}
